body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

input, button {
    padding: 8px;
    margin: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
    padding: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    justify-content: space-around;
}

.concluida {
    text-decoration: line-through;
    color: gray;
    background-color: #d4ffd4;
}

.nao-concluida {
    color: black;
    background-color: #ffe2e2;
}

label {
    flex: 1;
    cursor: pointer;
    margin-left: 8px;
}

.btn-excluir {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
